@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

:root{
    --scale-width-mobile: 368px;
    --scale-width-mobile-reduced: 320px;
    --scale-width-tablet: 768px;
    --scale-width-tablet-reduced: 720px;
    --scale-width-desktop: 1366px;
    --scale-width-desktop-reduced: 1320px;
    --bg-main: #091842;
    --bg-main-light: #202c50;
    --bg-main-max-light: #5185FF;
    --blue-color: #0f4bb3;
    --blue-color-dark: #c5cad4;
    --footer-color:#020f3b;

    --orange-color: #F2A444;
    --orange-color-dark: #F28444;


}

body{
    background: url("/images/2533.png");
    

    background-attachment: fixed;
    background-size: cover;
    font-family: 'Rubik', sans-serif;
}

.main-scale{
    width: var(--scale-width-mobile);
}

header{
    margin: auto;
}

nav{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.nav__image{
    width: 80px;
    padding: 10px;
    margin: auto 0 ;
}

.nav__list ul{
    width: var(--scale-width-mobile-reduced);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
    background-color: var(--bg-main-light);
    border: 4px solid var(--bg-main-max-light);
}

.nav__list ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 11px;
    color: white;
}

.nav__list ul li a::before{
    content: "• ";
    font-size: 17px;
    color: var( --orange-color);
}

.nav__list ul li a:hover{
    color: var(--orange-color);
}

.social-media__image{
    width: 20px;
    display: none;
}

main{
    margin: auto;
}

.view-main, .view-ingame{
    width: var(--scale-width-mobile-reduced);
    height: 500px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.view-main__btn-login,.view-ingame__btn-control-game{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.view-main__word, .view-main__btn-add-word{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-main__style{
    width: 200px;
    height: 50px;
    border: 4px solid #FAFDF9;
    border-radius: 25px;
    background-color: var(--orange-color);
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    box-shadow: inset -2px -6px var(--orange-color-dark);
    cursor: pointer;
}

.btn-main__style:hover, .btn-main__style--secondary:hover{
    transform: scale(0.98);
}

.btn-main__style--secondary{
    background: #33A7FF;
    box-shadow: inset -2px -6px var(--blue-color);
}

.btn-main__style-image{
    width: 12px;
    padding-left: 5px;
}

.view-main__word{
    height: 300px;
    display: none;
}

.view-main__space-word{
    width: var(--scale-width-mobile-reduced);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.word__text-area{
    width: 70%;
    height: 100px;
    margin: 0 0 20px 0px;
    padding: 20px;
    background-color: var(--bg-main);
    box-shadow: inset -7px -10px var(--blue-color);
    font-family: 'Rubik', sans-serif;
    color: white;
    border: 4px solid #FAFDF9;
    resize: none;
    font-weight: 600;
    font-size: 16px;
    border-radius: 10px;
}

.word__parraf{
    font-size: 12px;
    width: 80%;
    line-height: 1.5em;
    color: #FAFDF9;
}

.word__parraf img{
    width: 12px;
    margin-right: 5px;
}

.word__text-area::placeholder{
    font-family: 'Rubik', sans-serif;
    color: white;
}

.view-ingame{
    height: 600px;
    padding-bottom: 60px;
    display: none;
}

.view-ingame__view-picture{
    width: 80%;
    padding: 5%;
    height: 20%;
    background: #33A7FF;
    box-shadow: inset -1.5px -5px var(--blue-color);
    border: 5px solid #FAFDF9;
    border-radius: 20px;
    margin-bottom: 10px;

}

.view-ingame__control-game{
    width: 90%;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.view-ingame__view-word{
    width: 80%;
    padding: 10%;
    height: 25%;
    margin-bottom: 20px;
}

.view-ingame__mobile{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.view-ingame__text-mobile{
    width: 65%;
    height: max-content;
    border: 4px solid var(--blue-color);
    color: var(--bg-main-light);
    background-color: #FAFEFF;
    border-radius: 15px;
    padding: 4%;
    font-weight: 600;
    font-size: 15px;
}

.view-ingame__text-mobile::placeholder{
    color: var(--bg-main);
}

.btn-mobile{
    width: 16%;
    border-radius: 50px;
    background-color: var(--orange-color);
    box-shadow: inset -1.5px -5px var(--orange-color-dark);
    border: 4px solid #FAFDF9;
}

.btn-mobile:hover{
    transform: scale(0.96);
}

.btn-mobile__image{
    width: 18px;
}

.view-modal{
    width: 100%;
    height: 735px;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
}

.view-modal--scale{
    height: 895px;
}

.view-modal__message{
    width: 250px;
    height: 100px;
    position: relative;
    background-color: var(--bg-main);
    box-shadow: inset -3px -8px var(--blue-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid #FAFDF9;
    border-radius: 30px;
}

.view-modal__message p{
    font-size: 16px;
    width: 200px;
    line-height: 1.1em;
    color: white;
}

.view-modal__message p:nth-child(2){
    font-weight: 700;
}

.view-modal__message input{
    position: absolute;
    width: 100px;
    top: 80px;
}


footer{
    margin-top: 50px;
    background-color: var(--footer-color);
    box-shadow: -1px -6px var(--blue-color-dark);
}

.footer__info{
    width: var(--scale-width-mobile-reduced);
    margin: auto;
}

.info-text__title, .info-text__parraf, .info-icon__social-media{
    width: 100%;
    margin: auto;
    font-size: 20px;
    color: white;
}

.info-text__title{
    padding: 50px 0 20px 0;
    font-weight: 600;
}

.info-text__parraf{
    font-size: 13px;
    padding: 10px 0 30px 0;
    line-height: 1.5em;
}

.info-icon__social-media{
    display: flex;
}

.info-contact{
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.copy{
    width: var(--scale-width-mobile-reduced);
    margin: auto;
    font-size: 12px;
    color: whitesmoke;
    padding: 30px 0px;
}

.copy span:hover{
    color: white;
}


@media  screen and (min-width: 768px) {
    .main-scale{
        width: var(--scale-width-tablet);
    }

    nav{
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 0px;
    }

    .nav__list ul{
        width: 500px;
    }

    .nav__list ul li a{
        font-size: 14px;
    }
    
    .nav__list ul li a::before{
        font-size: 20px;
    }

    .view-main, .view-ingame{
        width: var(--scale-width-tablet-reduced);
        margin: 40px auto;
    }

    .view-main__btn-add-word{
        width: 80%;
        margin: 30px 0;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .view-main__space-word{
        width: var(--scale-width-tablet-reduced);
        padding-bottom: 20px;
    }

    .word__parraf{
        margin-left: 30px;
        font-size: 13px;
        width: 80%;
    }
    
    .word__parraf img{
        width: 13px;
        margin-right: 5px;
    }

    .view-ingame{
        height: 700px;
        padding-bottom: 0px;
        display: none;
    }
    
    .view-ingame__view-picture{
        width: 400px;
        padding: 25px;
        height: 200px;    
    }
    
    .view-ingame__control-game{
        width: 450px;
        height: 400px;
    }

    .view-ingame__view-word{
        width: 300px;
        height: 80px;
        margin-bottom: 20px;
    }
    
    .view-ingame__mobile{
        width: 100%;
        margin-bottom: 60px;
    }
    
    .view-ingame__text-mobile{
        width: 70%;
        height: 10px;
        font-size: 16px;
    }
    
    .btn-mobile{
        width: 13%;
    }

    .btn-mobile__image{
        width: 20px;
    }

    .view-ingame__btn-control-game{
        flex-direction: row;
        justify-content: space-around;
    }

    .view-modal__message{
        width: 250px;
        height: 100px;
    }
    
    .view-modal__message p{
        font-size: 16px;
        width: 200px;
        line-height: 1.1em;
        color: white;
    }
    
    .view-modal__message p:nth-child(2){
        font-weight: 700;
    }
    
    .view-modal__message input{
        position: absolute;
        width: 100px;
        top: 80px;
    }

    /* Calcular los pixeles para tablet*/
    .view-modal{
        height: 735px;
    }
    
    .view-modal--scale{
        height: 835px;
    }
    
    .view-modal__message{
        width: 300px;
        height: 130px;
    }
    
    .view-modal__message p{
        font-size: 18px;
        width: 200px;
        line-height: 1.15em;
        color: white;
    }
       
    .view-modal__message input{
        top: 105px;
    }

    .footer__info{
        width: var(--scale-width-tablet-reduced);
    }
    
    .info-text__title, .info-text__parraf, .info-icon__social-media{
        width: 80%;
        font-size: 20px;
    }
    
    .info-text__parraf{
        font-size: 15px;
    }
    
    .copy{
        width: var(--scale-width-tablet-reduced);
        font-size: 13px;
        text-align: center;
    }
        
}

@media screen and (min-width:1366px) {
    .main-scale{
        width: var(--scale-width-desktop);
    }
    
    .nav__content{
        width: 700px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .nav__social-media{
        width: max-content;
        display: flex;
    }

    .social-media__image{
        width: 25px;
        display: flex;
        margin-right: 25px;
    }
    
    .view-main, .view-ingame{
        width: var(--scale-width-desktop-reduced);
        margin: 40px auto;
    }

    .btn-main__style{
        width: 230px;
        font-size: 16px;
    }
    
    .view-main__space-word{
        width: var(--scale-width-desktop-reduced);
    }

    .word__text-area{
        height: 150px;
        font-size: 20px;
    }
    
    .word__parraf{
        margin-left: 80px;
        font-size: 18px;
    }
    
    .word__parraf img{
        width: 18px;
        margin-right: 8px;
    }

    .view-main__btn-add-word{
        width: 70%;
        justify-content: flex-end;
    }

    .view-main__btn-add-word input{
        margin-left: 20px;
    }

    .view-ingame{
        height: 500px;
        display: none;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .view-ingame__view-picture{
        width: 500px;
        height: 250px;
    }

    .view-ingame__control-game{
        width: 500px;
        height: 300px;
    }

    .view-ingame__view-word{
        width: 400px;
        height: 100px;
        margin-bottom: 20px;
    }
    
    .view-ingame__mobile{
        display: none;
    }

    .view-ingame__btn-control-game input{
        width: 200px;
    }

    /* Calcular los pixeles para tablet*/
    .view-modal{
        height: 735px;
    }
    
    .view-modal--scale{
        height: 735px;
    }

    .footer__info{
        width: var(--scale-width-desktop-reduced);
        display: flex;
        flex-direction: row; 
    }

    .info-text__title, .info-text__parraf, .info-icon__social-media{
        width: 80%;
        font-size: 20px;

    }

    .info-text__title{
        font-size: 25px;
    }

    .info-icon__social-media{
        display: flex;
        align-items: center;
        justify-content: center;
    }

}